<div class="signIn">
    <div class="container" [@slideUp]>
      <div class="signIn-form" id="slideUp">
        <div class="card">
            <div class="card-header">
                เข้าสู่ระบบ
            </div>
            <div class="card-block">
                <div class="alert alert-success" *ngIf="this.responseMessage.success" role="alert"  @slideSuceeded>
                    <strong>สำเร็จ</strong> {{ responseMessage.message }}
                  </div>
                  <div class="alert alert-danger" *ngIf="this.responseMessage.success === false" role="alert"  @slideSuceeded>
                    <strong>ผิดพลาด</strong>   {{ responseMessage.message }}
                  </div>
              <div class="row justify-content-md-center">
              <div class="col-sm-12 col-lg-5">
                <div class="signIn1">
                <form (ngSubmit)="onLoginSubmit()">
                    <div class="form-group col-lg-10 ">
                        <label for="formGroupExampleInput2">ไอดี</label>
                        <input type="text" class="form-control" [(ngModel)]="username" name="username">
                    </div>
                    <div class="form-group col-lg-10">
                        <label for="formGroupExampleInput2">รหัสผ่าน</label>
                        <input type="text" class="form-control" id="password" [(ngModel)]="password" name="password">
                      </div>
                    <div class="form-group ml-3">
                      <div class="row ">
                        <div class="col">
                            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-check-circle"></i> ตกลง</button>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              </div>
              <div class="col-sm-1 hidden-md-down">
                <div class="or">OR</div>
                <div class="divider"> 
                </div>
              </div>
              <div class="col-sm-5 hidden-md-down">
                <div class="signIn2">
                <a href="/api/oauth/facebook" class="btn btn-primary"><i class="fab fa-facebook-f"></i>  เข้าสู่ระบบด้วย Facebook</a><br>
                <a href="/api/oauth/google" class="btn btn-danger"><i class="fab fa-google-plus-g"></i>  เข้าสู่ระบบด้วย Google</a>
              </div>
              </div>
            </div>
            </div>
          </div><!-- Card -->
        </div>
    </div>
  </div>