.header{
    background: linear-gradient(to right ,#184e68,#4db780);
}

.header a.nav-link{
    color:#d6d8db;
}

.header a.currentUser{
    color:white;
}

a.navbar-brand{
    color:white;
    font-family: 'Courgette', cursive;
}

.navbar-brand:hover, .header a:hover , .navbar-brand:focus{
    color:white;
}

.divide{
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    margin: 0px 2px;
}

a.dropdown{
    padding: 0px;
    top:7px;
    color:#d6d8db;
}

a.currentUser{
    font-family: 'Prompt', sans-serif;
}

li.sign-up:hover , li.sign-in:hover  {
    background: rgba(0, 0, 0, 0.100);
    border-radius: 5px;
}

.notification i{
    color:white;
    margin-top: 12px;
    margin-right: 2px;
}

.dropdown-notification{
    position: absolute;
    width: 450px;
    right: 160px;
}

.circleNotification{
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 20px;
    position : absolute;
    bottom : 15px;
    left : 3px;
}

.indicator{
    position: absolute;
    top: 4px;
    font-size: 10px;
    margin-left: 5px;
}

.text-warning i {
    color: red!important;
}

.nav-item{
    font-family: 'Open Sans', sans-serif;
}













