<div class="header">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/" *ngIf="!auth.loggedIn()">RoommateFinder</a>
      <a class="navbar-brand" routerLink="/main" *ngIf="auth.loggedIn()">RoommateFinder</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-controls="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" *ngIf="!auth.loggedIn()">
          <li class="sign-up nav-item">
            <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i>  Sign Up</a>
          </li>
          <li class="divide">
          </li>
          <li class="sign-in nav-item">
            <a class="nav-link" routerLink="/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="auth.loggedIn() && auth.userDetails ">
          <li class="nav-item">
            <a href="" class="notification" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i>
              
              <span *ngFor="let messages of messages" class="indicator text-warning d-none d-lg-block">
                <i *ngIf="!messages.read" class="fa fa-fw fa-circle"></i>
              </span>
            </a>
            <div class="dropdown-notification dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <div class="dropdown-divider"></div>
                <div *ngFor="let messages of messages"> 
                <a class="dropdown-item"  (click)="onClick(messages.sender._id,messages._id,messages.type)">
                  <strong>{{ messages.sender.firstname }} {{ messages.sender.lastname }}</strong>
                  <div class="dropdown-message small">{{ messages.sender.firstname }} {{ messages.sender.lastname }} {{ messages.message}}</div>
                </a>
                <div class="dropdown-divider"></div>
              </div>
              </div>
          </li>
          <li class="nav-item" >
            <a class="currentUser nav-link">{{ auth.userDetails.firstname}} {{ auth.userDetails.lastname }}</a>
          </li>
          <li class="nav-item">
            <a href="" class="dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a routerLink="/profile" class="dropdown-item" >Profile setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" (click)="onLogOut()">Logout</a>
              </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> 