
<div class="container">
  <div class="card">
    <div class="card-block">     
      <form >
      

        <div class="count" *ngFor="let question of questions; let i = index">
            <div class="count2" *ngIf="count === i">
            <div id="q1" class="q"  *ngIf="question == questions[count]">
              <div class="qt" style="padding-bottom:5px">
                <div class="n">{{i+1}}</div>
                <div class="t" id="q1t" tabindex="0">{{question.name}}</div>
              </div>
              <div style="position:relative">
                <div class="opt" tabindex="0" data-listnav="12" (click)="nextquestion()" style="">
                  <label style="display:block;padding:4px;cursor:pointer;">
                    <input type="radio" name="q1" value="1" style="border:0;background:transparent;margin:0px;"> &nbsp;{{question.Choice1}}
                  </label></div>
                  <div class="opt" tabindex="0" data-listnav="12" (click)="nextquestion()" style="">
                    <label style="display:block;padding:4px;cursor:pointer;">
                      <input type="radio" name="q1" value="2" style="border:0;background:transparent;margin:0px;"> &nbsp;{{question.Choice2}}
                    </label></div>
                  </div>
                  <div style="clear:left">                    
                  </div>
                </div>
              </div>
        </div>
        
  
      </form>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="percent"></div>
      </div>   
    </div>
  </div>
</div>
