.matchedPeople{
    margin-top: 20px;
}

#profile_picture{
    width: 150px;
    height: 150px;
}

.card-block , .card-header, button{
    font-family: 'Prompt', sans-serif;
}

.userImage{
    max-height:135px;
    width: 100px;
    height: auto;
    margin: 0 auto;
}