<div class="signUp">
  <div class="container" @signupTrigger>
    <div class="signUp-form">
      <div class="card">
          <div class="card-header">
              สมัครสมาชิก
          </div>
          <div class="card-block">
            <div class="row justify-content-md-center">
            <div class="col-sm-12 col-lg-5">
              <div class="regis1">
              <form [formGroup]="form">
                <div class="form-group col-lg-10" formGroupName="name">
                  <label for="formGroupExampleInput">ชื่อ</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" formControlName="first">
                </div>
                <div class="form-group col-lg-10" formGroupName="name">
                  <label for="formGroupExampleInput2">นามสกุล</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="last">
                </div>
                <div class="form-group col-lg-10">
                    <label for="formGroupExampleInput2">อีเมลล์</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="email">
                  </div>
                  <div class="form-group col-lg-10 ">
                      <label for="formGroupExampleInput2">ไอดี</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <div class="form-group col-lg-10">
                      <label for="formGroupExampleInput2">รหัสผ่าน</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" aria-describedby="passwordHelp">
                      <small id="passwordHelp" class="form-text text-muted">( อย่างน้อย 6 ตัวอักษร รวมทั้งตัวเลข )</small>
                    </div>
                  <div class="form-group ml-3">
                    <div class="row justify-content-start">
                      <div class="col">
                          <button class="btn btn-outline-primary">ตกลง</button>
                          <button class="btn btn-outline-danger">ยกเลิก</button>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
            </div>
            <div class="col-sm-1 hidden-md-down">
              <div class="or">OR</div>
              <div class="divider"> 
              </div>
            </div>
            <div class="col-sm-5 hidden-md-down">
              <div class="regis2">
              <a href="" class="btn btn-primary"><i class="fab fa-facebook-f"></i>  สมัครสมาชิกด้วย Facebook</a><br>
              <a href="" class="btn btn-danger"><i class="fab fa-google-plus-g"></i>  สมัครสมาชิกด้วย Google</a>
            </div>
            </div>
          </div>
          </div>
        </div><!-- Card -->
      </div>
  </div>
</div>