<div class="signUp">
  <div class="container" @signupTrigger>
    <div class="signUp-form">
      <div class="card">
          <div class="card-header">
              สมัครสมาชิก
          </div>
          <div class="card-block">
            <div class="row justify-content-center">
                <div class="alert alert-success col-11" *ngIf="this.isValid" role="alert"  @slideSuceeded>
                    <strong>สำเร็จ</strong> กรุณาตรวจสอบอีเมล์ของท่านเพื่อทำการยืนยันการสมัครสมาชิก
                  </div>
            </div>
            <div class="row justify-content-md-center">
            <div class="col-sm-12 col-lg-5">
              <div class="regis1">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('firstname')">
                  <label for="formGroupExampleInput">ชื่อ</label>
                  <input type="text" class="form-control" [ngClass]="validatorInputCss('firstname')" id="formGroupExampleInput" formControlName="firstname" required>
                  <div class="form-control-feedback"
                      *ngIf="this.form.controls.firstname.errors && (this.form.controls.firstname.touched || this.form.controls.firstname.dirty)">
                       <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                       <p *ngIf="checkFirstname">รูปแบบของข้อมูลไม่ถูกต้อง</p>

                      </div>
                </div>
                <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('lastname')">
                  <label for="formGroupExampleInput2">นามสกุล</label>
                  <input type="text" class="form-control" [ngClass]="validatorInputCss('lastname')" id="formGroupExampleInput2" formControlName="lastname">
                  <div class="form-control-feedback"
                      *ngIf="this.form.controls.lastname.errors && (this.form.controls.lastname.touched || this.form.controls.lastname.dirty)">
                       <p *ngIf="this.form.controls.lastname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                       <p *ngIf="this.form.controls.lastname.errors.pattern">รูปแบบของข้อมูลไม่ถูกต้อง</p>
                  </div>
                </div>
                <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('email')">
                    <label for="formGroupExampleInput2">อีเมลล์</label>
                    <input type="email" class="form-control" [ngClass]="validatorInputCss('email')" id="formGroupExampleInput2" formControlName="email">
                    <div class="form-control-feedback"
                      *ngIf="this.form.controls.email.errors && (this.form.controls.email.touched || this.form.controls.email.dirty)">
                       <p *ngIf="this.form.controls.email.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                    </div>
                  </div>
                  <div class="form-group col-lg-10 " [ngClass]="ValidatorDisplayCss('username')">
                      <label for="formGroupExampleInput2">ไอดี</label>
                      <input type="text" class="form-control" [ngClass]="validatorInputCss('username')" id="formGroupExampleInput2" formControlName="username" pattern="^[a-z0-9_-]{8,15}$">
                      <div class="form-control-feedback"
                      *ngIf="this.form.controls.username.errors && (this.form.controls.username.touched || this.form.controls.username.dirty)">
                       <p *ngIf="this.form.controls.username.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                      </div>
                  </div>
                  <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('password')">
                      <label for="formGroupExampleInput2">รหัสผ่าน</label>
                      <input type="text" class="form-control" [ngClass]="validatorInputCss('password')" id="formGroupExampleInput2" aria-describedby="passwordHelp" formControlName="password">
                      <div class="form-control-feedback"
                      *ngIf="this.form.controls.password.errors && (this.form.controls.password.touched || this.form.controls.password.dirty)">
                       <p *ngIf="this.form.controls.password.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                      </div>
                      <small id="passwordHelp" class="form-text text-muted">( อย่างน้อย 6 ตัวอักษร รวมทั้งตัวเลขและอักขระพิเศษ)</small>
                    </div>
                  <div class="form-group ml-3">
                    <div class="row">
                      <div class="col">
                          <button class="btn btn-outline-primary" type="submit">สมัครสมาชิก</button>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
            </div>
            <div class="col-sm-1 hidden-md-down">
              <div class="or">OR</div>
              <div class="divider"> 
              </div>
            </div>
            <div class="col-sm-5 hidden-md-down">
              <div class="regis2">
              <a href="" class="btn btn-primary"><i class="fab fa-facebook-f"></i>  สมัครสมาชิกด้วย Facebook</a><br>
              <a href="" class="btn btn-danger"><i class="fab fa-google-plus-g"></i>  สมัครสมาชิกด้วย Google</a>
            </div>
            </div>
          </div>
          </div>
        </div><!-- Card -->
      </div>
  </div>
</div>