.signUp{
    margin-top: 20px;
}

.signUp-form{
    margin: 0 auto;
}
.line{
    width: 15px;
    height: auto;
}
.divider{
    border-style: dashed;
    border-width: 0px 1px 0px 0px;
    border-color: rgba(0, 0, 0, 0.125);
    width: 30px;
    height: 520px;
    position: fixed;
    
}


.regis2{
    text-align: center;
    line-height: 75px;
    margin-top: 34%;
    margin-left: 40px;
}

.regis2 a.btn{
    width: 270px;
}

.or{
    border-radius: 70px;
    background: rgba(0, 0, 0, 0.150);
    width: 45px;
    padding: 8px 0;
    top: 40%;
    margin-left: 7px;
    position: absolute;
    text-align: center;
    font-style: oblique;
    font-weight: 400;
    color:black;
}
.b{
    margin: auto; 
}
.c{
    margin-left: 20px;
}
.right{
    
    text-align: right ;
    margin-bottom:  10px;
}
.showPeople{
    margin-top: 20px;
    height: auto;
    padding-top: 15px;
}

.searchBar{
    margin:0 auto;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
}

.card{
    float: left;
    width: 348px;
    height: auto;
    margin-bottom: 32px;
    margin-left : 16px;
    margin-right: 16px;
}


.information{
    line-height: 200%;
}

.card-block{
    border-width: 0px 10px 10px 0px;
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.125);
    font-family: 'Prompt', sans-serif;
}

.typeDorm , button.btn , .modal-body , .modal-title{
    font-family: 'Prompt', sans-serif;
}

img {
    display: block;
    max-height:135px;
    width: 100px;
    height: auto;
  }

 .popup-picture{
     margin: 0 auto;
 }

 .headText{
     color : rgba(0, 0, 0, 0.500);
 }