<div class="signUp">
  <div class="container" @signupTrigger>
    <div class="signUp-form">
      <div class="card">
        <div class="card-header">
          ประวัติส่วนตัว
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">รูปประจำตัว</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
              <div class="form-group">
                <form class="form-inline">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">ศาสนา</label>
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option selected>เลือก...</option>
                    <option value="1">พุทธ</option>
                    <option value="2">อิสลาม</option>
                    <option value="3">คริสต์</option>
                  </select>

                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">คุณยินดีที่จะอยู่กับศาสนาตรงข้ามด้วย</span>
                  </label>
                </form>
              </div>
              <div class="form-group">
                <form class="form-inline">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">เพศ</label>
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option selected>เลือก...</option>
                    <option value="1">ชาย</option>
                    <option value="2">หญิง</option>
                  </select>

                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">คุณยินดีที่จะอยู่กับเพศตรงข้ามด้วย</span>
                  </label>
                </form>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">อาชีพ</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div>
              <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('firstname')">
                <label for="formGroupExampleInput">อาชีพ</label>
                <input type="text" class="form-control" [ngClass]="validatorInputCss('firstname')" id="formGroupExampleInput" formControlName="firstname"
                  required>
                <div class="form-control-feedback" *ngIf="this.form.controls.firstname.errors && (this.form.controls.firstname.touched || this.form.controls.firstname.dirty)">
                  <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
              <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('firstname')">
                <label for="formGroupExampleInput">งานอดิเรกเวลาอยู่ที่ห้อง</label>
                <input type="text" class="form-control" [ngClass]="validatorInputCss('firstname')" id="formGroupExampleInput" formControlName="firstname"
                  required>
                <div class="form-control-feedback" *ngIf="this.form.controls.firstname.errors && (this.form.controls.firstname.touched || this.form.controls.firstname.dirty)">
                  <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
              <div class="form-group col-lg-10">
                <label for="exampleFormControlTextarea1">รายละเอียดเพื่มเติมที่สำคัญ</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="ไม่ชอบคนสูบบหรี่ , เเพ้เเป้ง" rows="3"></textarea>
              </div>
              <div class="form-group col-lg-10">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('firstname')">
                <label for="formGroupExampleInput">Facebook</label>
                <input type="text" class="form-control" [ngClass]="validatorInputCss('firstname')" id="formGroupExampleInput" formControlName="firstname"
                  required>
                <div class="form-control-feedback" *ngIf="this.form.controls.firstname.errors && (this.form.controls.firstname.touched || this.form.controls.firstname.dirty)">
                  <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
              <div class="form-group col-lg-10" [ngClass]="ValidatorDisplayCss('firstname')">
                <label for="formGroupExampleInput">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" [ngClass]="validatorInputCss('firstname')" id="formGroupExampleInput" placeholder="012-3456789"
                  formControlName="firstname" required>
                <div class="form-control-feedback" *ngIf="this.form.controls.firstname.errors && (this.form.controls.firstname.touched || this.form.controls.firstname.dirty)">
                  <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>

            </div>
            <div class="col">
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Text</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Search</label>
                <div class="col-10">
                  <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">URL</label>
                <div class="col-10">
                  <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                <div class="col-10">
                  <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-password-input" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                  <input class="form-control" type="password" value="hunter2" id="example-password-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Number</label>
                <div class="col-10">
                  <input class="form-control" type="number" value="42" id="example-number-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
                <div class="col-10">
                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-month-input" class="col-2 col-form-label">Month</label>
                <div class="col-10">
                  <input class="form-control" type="month" value="2011-08" id="example-month-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-week-input" class="col-2 col-form-label">Week</label>
                <div class="col-10">
                  <input class="form-control" type="week" value="2011-W33" id="example-week-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-time-input" class="col-2 col-form-label">Time</label>
                <div class="col-10">
                  <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-color-input" class="col-2 col-form-label">Color</label>
                <div class="col-10">
                  <input class="form-control" type="color" value="#563d7c" id="example-color-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>