
<div class="signUp">
  <div class="container">
    <div class="signUp-form">
        <div class="searchBar">
            <a routerLink="/main" class="btn btn-warning">
                User Page
              </a>
              <a  class="btn btn-danger">
                Dorm Page
              </a>
              <a routerLink="/map" class="btn btn-warning">
                Map Page
              </a>
        </div>
      <div class="card">
        <div class="card-header">
          ค้นหาหอพัก
        </div>
        
        <div class="card-header">
          <form class="form-inline">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Location</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" [(ngModel)]="District" name="District">
              <option selected>ทั้งหมด</option>
              <option value="กะทู้">อำเภอกะทู้</option>
              <option value="ถลาง">อำเภอถลาง</option>
              <option value="เมืองภูเก็ต">อำเภอเมืองภูเก็ต</option>
            </select>
            <button type="submit" class="btn btn-primary" (click)="getDormbyDistrict()">ค้นหา</button>
          </form>
        </div>
        <br>
        <div class="card-header">
          <div class="list-group" *ngFor="let dorm of Dorm">
            <button type="button" class="list-group-item list-group-item-action" (click)="getPeopleHadDorm(dorm._id)" >{{dorm.name}} &nbsp;
              <!-- <span class="badge badge-default badge-pill" [ngStyle]="{'align': 'right'}">{{dorm.electric_unit}}</span> -->
            </button>
            <br>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>